@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

section#main {
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}

.sobre-produto {
    margin-top: 10px;
    justify-items: left;
}

.h2 {
    display: flex;
    padding: 10px;
    font-size: 2.1rem;
    color: gray;
}

.h2 .linha {
    margin: 0px 20px;
    margin-top: 22px;
    height: 2px;
    background: white;
    width: 350px;
}

.sobre-produto p {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    font-family: "Roboto" sans-serif;
    font-size: 1.5rem;
    margin-right: 20px;
}

.sobre-produto ul {
    margin: 10px 30px;
    color: white;
    font-size: 1.4rem;
}

.container {
    margin-top: 100px;
    background: #13131a;
    padding: 20px;
}

.bloco-1 {
    gap: 10px;
    display: flex;
}

.bloco-1 .btn-comprar {
    position: absolute;
    top: 70%;
    left: 65%;
    margin: 20px 20px;
}

.btn-comprar a {
    font-size: 1.5rem;
    color: white;
}

.btn-comprar a > button {
    width: 300px;
    background: #d3ad7f;
    padding: 10px;
    border-radius: 2px;
}

.btn-comprar a > button:hover {
    color: white;
    padding: 16px;
    font-size: 1.5rem;
    opacity: 0.7;
}

.container .img {
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    .container {
        margin-top: 100px;
        background: #13131a;
        padding: 10px 10px;
    }

    .bloco-1 {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .bloco-1 .btn-comprar {
        position: absolute;
        top: 141%;
        left: 15%;
        margin: 20px 20px;
    }



}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
        background-position: bottom;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}