* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Cores */

:root {
    --cor-header:#46459B;
}

/* ================
      Menu Header
===================*/

#header {
    background: var(--cor-header);
    width: 100%;
}

#header .menu-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}


.menu-1 h3 {
    color: white;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-left: 3rem;
}

.menu-1 #pesquisa {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    width: 650px;
    height: 2rem;
}

.menu-1 .carrinho a > img {
    width: 50px;
    height: 50px;
    margin-right: 3rem;
}

/* Menu-2 */

#menu-2 {
    background: var(--cor-header);
    display: block;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

#menu li a {
    color: white;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: sans-serif;
}

.menu li a:hover {
    color: rgba(128, 128, 128, 0.382);
}
  
  #btn-mobile {
    display: none;
  }

/* ================
    Section 
===================*/