* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Cores */

:root {
    --cor-header:#46459B;
}

/* ================
      Menu Header
===================*/

#header {
    background: var(--cor-header);
}

#header .menu-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}


.menu-1 h3 {
    color: white;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-left: 3rem;
}

.menu-1 #pesquisa {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    width: 650px;
    height: 2rem;
}

.menu-1 .carrinho a > img {
    width: 50px;
    height: 50px;
    margin-right: 3rem;
}

/* Menu-2 */

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu {
    text-align: center;
    display: flex;
    padding: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }

/* ================
    Section 
===================*/